{{ original_prompt }}

## Revision Required
The previous attempt scored {{ critic_score }}/10.

### Issues
{% for issue in issues %}- {{ issue }}
{% endfor %}
### Suggestions
{% for suggestion in suggestions %}- {{ suggestion }}
{% endfor %}
### Previous Attempt
```
{{ asset_content }}
```

Generate an improved version addressing all issues.
